html{
    scroll-snap-type: y mandatory;
}

.app-videos{
    position: relative;
    height: 800px;
    overflow: scroll;
    max-width: 500px;
    width: 80%;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
}
.App{
    background-color: #000;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app-videos::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app-videos {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}